$darkGray: #212121;
$gray: #2c2c2c;
$purple: #5e56f8;
$green: #63cf49;
$blue: #4895ef;
$red: #e23333;
$gradient: linear-gradient(89.13deg, #50acff -48.54%, #5e56f8 114.03%);
$lightGray: #a8a8a8;
$lightGrayMenu: #3a3a3a;
$glassGray: #3a3a3a99;
